 <section id="{{ section_id }}">
    <div class="container">
      <h3>{{ theme }}</h3>
      <p>Будем рады ответить на все имеющиеся у Вас вопросы</p>
      <div class="social-links">
          <p><a class="telegram" style="text-align: center"><i class="bx bxl-telegram" style="text-align: center"></i></a> {{ our_telegram }} </p>
          <p><a class="facebook" style="text-align: center"><i class="bx bxl-facebook" style="text-align: center"></i></a> {{ our_facebook }} </p>
          <p><a class="whatsapp" style="text-align: center"><i class="bx bxl-whatsapp" style="text-align: center"></i></a> {{ our_whatsapp }} </p>
          <p><a class="gmail" style="text-align: center"><i class="bx bxl-gmail" style="text-align: center"></i></a> {{ our_mail }} </p>
          <p><a class="phone-icon" style="text-align: center"><i class="bi bi-phone-fill phone-icon" style="text-align: center"></i></a> {{ our_phone_number }} </p>
      </div>
      <div class="copyright">
        &copy; All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </section>